@import "../../node_modules/bootstrap/less/bootstrap.less";
@import "./bootswatch.less";
@import "./variables.less";
@import "./components.less";

/*
 * Only include styles confined to app.js here.
 */

body {
  font-family: "Helvetica Neue", Arial;
  font-weight: 200;
}

.centered{
  margin-top: 86px;
  max-width: 66.666%;
  margin-left: 16.666%;
}

@media print {
  .panel{ border: none!important }
  .centered{ 
    width: 100%!important; 
    max-width: 100%!important; 
    margin-left: 0%!important; 
    margins: 25px!important;
  }
}