@import "../../bower_components/bootstrap/less/bootstrap.less";
@import "./bootswatch.less";
@import "./variables.less";
@import (inline) "../../node_modules/c3/c3.min.css";
@import (inline) "../../node_modules/react-grid-layout/css/styles.css";
@import (inline) "../../node_modules/react-grid-layout/node_modules/react-resizable/css/styles.css";
@import (inline) "../../node_modules/react-grid-layout/node_modules/react-draggable/lib/styles.css";

body {
  font-family: "Helvetica Neue", Arial;
  font-weight: 200;
}

.main{
    margin-top: 50px;
}

.navbar{
     max-height: 50px;
}

.container-fluid{
  margin-top: 87px;
}

.centered{
    max-width: 66.666%;
    margin-left: 16.666%;
}