@navbar-default-bg: @brand-primary;

@media print {
  .navbar-default{ display: none!important }
}

.navbar{
}

.navbar-default{
    border-bottom: solid 2px #FFFFFF;
}

.navbar-default.logged-out{
	background-color: rgba(255,255,255,0);
    border-bottom: none;
}

.navbar-brand{
	position: absolute!important;
    left: 0px;
    padding: 0px;
    overflow: hidden;
}

.navbar-brand.logged-out{ 
    overflow: visible;
}

.navbar-brand > img {
    max-width: 300%;
    max-height: 300%;
    margin-top: -40px;
}

.navbar-brand.logged-out > img {
    min-width: 100%;
    min-height: 400%;
    opacity: .5;
    margin-top: -45px;
}

@media (min-width: 768px){
    .navbar-nav > li > a {
         padding-top: 0px; 
         padding-bottom: 0px; 
         margin-top: 19px;
    }
}
@media screen and (max-device-width: 480px){

  .navbar{
    font-size: 32px!important;
  }
  .navbar-nav > li > .dropdown-menu {
      font-size: 32px!important;
  }
}